@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');


html {
  font-family: 'Montserrat', sans-serif;
  scrollbar-width: none;
scroll-behavior: smooth;

}
#__next::-webkit-scrollbar {
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}


a {
    cursor: url('/images/index.png'), auto;
  }


.hidescroll{
  scrollbar-width: none;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'BasierBold', sans-serif
}