
/* purgecss start ignore */
@import url('/font/Noway/Noway Icons Webfont/Noway-Icons-webfont/stylesheet.css');
@import url('/font/Stawford/Strawford Roman Webfont/stylesheet.css');
@import url('/font/Stawford/Strawford Italic Webfont/stylesheet.css');


a{
  font-family: 'Noway', sans-serif;
}

@font-face {
  font-family: Noway;
  src: url('/font/Noway/Noway Roman Webfont/Noway-Bold-webfont/noway-bold-webfont.ttf');
}


.font-default-title{
  font-family: 'strawfordblack', sans-serif
}
.font-secondary-title{
  font-family: 'strawfordblack_italic',sans-serif;
}


.font-default-sub-title{
  font-family: 'strawfordbold', sans-serif
}

.font-secondary-sub-title{
  font-family: 'strawfordbold_italic', sans-serif
}


.font-default-paragraph-bold{
  font-family: 'strawfordmedium', sans-serif
}


.font-default-regular{
  font-family: 'strawfordregular', sans-serif
}

.font-default-italic{
  font-family: 'strawfordregular_italic', sans-serif

}

.font-default-paragraph{
  font-family: 'strawfordregular', sans-serif
}


.font-default-accent{
  font-family: 'Noway', sans-serif
}


/* Small (sm) */
@media (min-width: 640px) { /* ... */ }

/* Medium (md) */
@media (min-width: 768px) { 

 }

/* Large (lg) */
@media (min-width: 1024px) {
 

 }

/* Extra Large (xl) */
@media (min-width: 1280px) { 
  
 
}